{% extends "base_reserva.html" %}

{% block content %}
<form class="form-horizontal" action="api/reservar" method="post" id="salaform">{% csrf_token %}
    <fieldset>
    <legend>Reservar Sala</legend>
    <div class="control-group required">
        <label class="control-label" for="id_description">Descripcion</label>
        <div class="controls">
            <input class="required" id="id_description" maxlength="255" name="description" type="text" />
        </div>
    </div>
    <div class="control-group required">
        <label class="control-label" for="id_fecha">Fecha</label>
        <div class="controls">
            <input type="text" id="id_fecha" name="fecha" class="input-medium" readonly>
        </div>
    </div>
    <div class="control-group required">
        <label class="control-label" for="id_hora_inicio">Hora Inicio</label>
        <div class="controls">
            <input type="text" id="id_hora_inicio" name="hora_inicio" class="input-medium" readonly>
        </div>
    </div>
    <div class="control-group required">
        <label class="control-label" for="id_hora_fin">Hora Fin</label>
        <div class="controls">
            <input type="text" id="id_hora_fin" name="hora_fin" class="input-medium" readonly>
        </div>
    </div>
    </fieldset>
    <div class="form-actions">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>
{% endblock %}